html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
input,
button {
  margin: 0;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
@font-face {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  src: url("fonts/fontawesome-webfont.eot?v=#4.0.1");
  src: url("fonts/fontawesome-webfont.eot?#iefix&v=#4.0.1") format("embedded-opentype"), url("fonts/fontawesome-webfont.woff?v=#4.0.1") format("woff"), url("fonts/fontawesome-webfont.ttf?v=#4.0.1") format("truetype"), url("fonts/fontawesome-webfont.svg#fontawesomeregular?v=#4.0.1") format("svg");
}
body {
  *zoom: 1;
  width: 100%;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
.outer {
  *zoom: 1;
  max-width: 910px;
  margin: 0 auto;
  padding: 0 10px;
}
.outer:before,
.outer:after {
  content: "";
  display: table;
}
.outer:after {
  clear: both;
}
.inner {
  display: inline;
  float: left;
  width: 98.88888888888889%;
  margin: 0 0.5555555555555556%;
}
.left,
.alignleft {
  float: left;
}
.right,
.alignright {
  float: right;
}
.clear {
  clear: both;
}
body {
  background: #eee;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#header {
  height: 300px;
  position: relative;
  border-bottom: 1px solid #ddd;
}
#banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("images/mesh_fencing-wallpaper-1600x900.jpg") #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
#logo-wrap {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -25px;
}
#logo {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  width: 50px;
  height: 50px;
  display: block;
  background-repeat: no-repeat;
  -webkit-background-size: 50px;
  -moz-background-size: 50px;
  background-size: 50px;
  background-image: url("images/logo.png");
  background-image: url("images/logo.svg"), none;
  -webkit-background-size: 50px;
  -moz-background-size: 50px;
  background-size: 50px;
}
#main-nav {
  position: relative;
}
.main-nav-list {
  margin: 0 -15px;
}
.main-nav-item {
  padding: 20px 15px;
  float: left;
}
.main-nav-link {
  color: #fff;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  text-decoration: none;
  text-shadow: 0 1px rgba(0,0,0,0.2);
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.main-nav-link:hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
#header-shadow {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background: -webkit-linear-gradient(bottom, rgba(0,0,0,0.1), transparent);
  background: -moz-linear-gradient(bottom, rgba(0,0,0,0.1), transparent);
  background: -o-linear-gradient(bottom, rgba(0,0,0,0.1), transparent);
  background: -ms-linear-gradient(bottom, rgba(0,0,0,0.1), transparent);
  background: linear-gradient(to top, rgba(0,0,0,0.1), transparent);
}
.article {
  margin: 50px 0;
}
.article-inner {
  background: #fff;
  -webkit-box-shadow: 1px 2px 3px #ddd;
  box-shadow: 1px 2px 3px #ddd;
  padding: 20px;
  border: 1px solid #ddd;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.article-date {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #999;
  display: block;
  margin-bottom: 1em;
  margin-left: 5px;
  line-height: 1em;
  text-shadow: 0 1px #fff;
  font-weight: bold;
}
.article-title {
  text-decoration: none;
  font-size: 2em;
  font-weight: bold;
  color: #555;
  line-height: 1.1em;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  -ms-transition: color 0.2s;
  transition: color 0.2s;
}
.article-title:hover {
  color: #258fb8;
}
.article-entry {
  color: #555;
}
.article-entry p,
.article-entry ol,
.article-entry ul,
.article-entry dl,
.article-entry table,
.article-entry iframe {
  line-height: 1.6em;
  margin: 1.6em 0;
}
.article-entry h1,
.article-entry h2,
.article-entry h3,
.article-entry h4,
.article-entry h5,
.article-entry h6,
.article-entry strong {
  font-weight: bold;
}
.article-entry em {
  font-style: italic;
}
.article-entry h1,
.article-entry h2,
.article-entry h3,
.article-entry h4,
.article-entry h5,
.article-entry h6 {
  line-height: 1.1em;
  margin: 1.1em 0;
}
.article-entry h1 {
  font-size: 2em;
}
.article-entry h2 {
  font-size: 1.5em;
}
.article-entry h3 {
  font-size: 1.3em;
}
.article-entry a {
  color: #258fb8;
  text-decoration: none;
}
.article-entry a:hover {
  text-decoration: underline;
}
.article-entry small {
  font-size: 0.85em;
}
.article-entry ul,
.article-entry ol,
.article-entry dl {
  margin-left: 20px;
}
.article-entry ul ul,
.article-entry ol ul,
.article-entry dl ul,
.article-entry ul ol,
.article-entry ol ol,
.article-entry dl ol,
.article-entry ul dl,
.article-entry ol dl,
.article-entry dl dl {
  margin-top: 0;
  margin-bottom: 0;
}
.article-entry ul {
  list-style: disc;
}
.article-entry ol {
  list-style: decimal;
}
.article-entry dl {
  list-style: square;
}
.article-entry img,
.article-entry video {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}
.article-entry iframe {
  border: none;
}
.article-entry blockquote {
  margin: 1.6em -20px;
  padding-left: 40px;
  padding-right: 20px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid #fff;
  font-family: Georgia, "Times New Roman", serif;
  background-color: #faf7e3;
  background-image: -webkit-linear-gradient(bottom, rgba(170,170,170,0.3), transparent 1px);
  background-image: -moz-linear-gradient(bottom, rgba(170,170,170,0.3), transparent 1px);
  background-image: -o-linear-gradient(bottom, rgba(170,170,170,0.3), transparent 1px);
  background-image: -ms-linear-gradient(bottom, rgba(170,170,170,0.3), transparent 1px);
  background-image: linear-gradient(to top, rgba(170,170,170,0.3), transparent 1px);
  -webkit-background-size: 100% 1.6em;
  -moz-background-size: 100% 1.6em;
  background-size: 100% 1.6em;
  position: relative;
  color: #666;
}
.article-entry blockquote:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 1px;
  left: 20px;
  width: 2px;
  border-left: 1px solid rgba(231,75,104,0.3);
  border-right: 1px solid rgba(231,75,104,0.3);
}
.article-entry .caption {
  color: #999;
  display: block;
  font-size: 0.9em;
  margin-top: 0.5em;
  position: relative;
  text-align: center;
}
.article-entry .video-container {
  position: relative;
  padding-top: 56.25%;
  height: 0;
  overflow: hidden;
}
.article-entry .video-container iframe,
.article-entry .video-container object,
.article-entry .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 0;
}
.article-more-link a {
  display: inline-block;
  line-height: 1em;
  padding: 6px 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  background: #eee;
  color: #999;
  text-shadow: 0 1px #fff;
  text-decoration: none;
}
.article-more-link a:hover {
  background: #258fb8;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 1px #1e7293;
}
.article-footer {
  *zoom: 1;
  font-size: 0.85em;
  line-height: 1.6em;
  border-top: 1px solid #ddd;
  padding-top: 1.6em;
}
.article-footer:before,
.article-footer:after {
  content: "";
  display: table;
}
.article-footer:after {
  clear: both;
}
.article-footer a {
  color: #999;
  text-decoration: none;
}
.article-footer a:hover {
  color: #555;
}
.article-tag-list-item {
  float: left;
  margin-right: 10px;
}
.article-tag-list-link:before {
  content: "#";
}
.article-comment-link {
  float: right;
}
.article-comment-link:before {
  content: "\f075";
  font-family: FontAwesome;
  padding-right: 8px;
}
.article-share-link {
  cursor: pointer;
  float: right;
  margin-left: 20px;
}
.article-share-link:before {
  content: "\f064";
  font-family: FontAwesome;
  padding-right: 6px;
}
#article-nav {
  *zoom: 1;
  margin: 50px 0;
  position: relative;
}
#article-nav:before,
#article-nav:after {
  content: "";
  display: table;
}
#article-nav:after {
  clear: both;
}
#article-nav:before {
  width: 8px;
  height: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -4px;
  margin-left: -4px;
  content: "";
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #ddd;
  -webkit-box-shadow: 0 1px 2px #fff;
  box-shadow: 0 1px 2px #fff;
}
.article-nav-link-wrap {
  width: 50%;
  text-decoration: none;
  text-shadow: 0 1px #fff;
  color: #999;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.article-nav-link-wrap:hover {
  color: #555;
}
#article-nav-newer {
  float: left;
  text-align: right;
  padding-right: 20px;
}
#article-nav-older {
  float: right;
  padding-left: 20px;
}
.article-nav-caption {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #ddd;
  line-height: 1em;
  font-weight: bold;
}
#article-nav-newer .article-nav-caption {
  margin-right: -2px;
}
.article-nav-title {
  font-size: 0.85em;
  line-height: 1.6em;
  margin-top: 0.5em;
}
.article-share-box {
  position: absolute;
  display: none;
  background: #fff;
  -webkit-box-shadow: 1px 2px 10px rgba(0,0,0,0.2);
  box-shadow: 1px 2px 10px rgba(0,0,0,0.2);
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin-left: -145px;
  overflow: hidden;
}
.article-share-box.on {
  display: block;
}
.article-share-box-input {
  width: 100%;
  background: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0 15px;
  color: #555;
  outline: none;
  border: 1px solid #ddd;
  -webkit-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  height: 36px;
  line-height: 36px;
}
.article-share-box-links {
  *zoom: 1;
  background: #eee;
}
.article-share-box-links:before,
.article-share-box-links:after {
  content: "";
  display: table;
}
.article-share-box-links:after {
  clear: both;
}
.article-share-box-link {
  width: 50px;
  height: 36px;
  display: block;
  float: left;
  position: relative;
  color: #999;
  text-shadow: 0 1px #fff;
}
.article-share-box-link:before {
  font-size: 20px;
  font-family: FontAwesome;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-left: -10px;
  text-align: center;
}
.article-share-box-link:hover {
  color: #fff;
}
.article-share-box-link.twitter:before {
  content: "\f099";
}
.article-share-box-link.twitter:hover {
  background: #00aced;
  text-shadow: 0 1px #008abe;
}
.article-share-box-link.facebook:before {
  content: "\f09a";
}
.article-share-box-link.facebook:hover {
  background: #3b5998;
  text-shadow: 0 1px #2f477a;
}
.article-share-box-link.pinterest:before {
  content: "\f0d2";
}
.article-share-box-link.pinterest:hover {
  background: #cb2027;
  text-shadow: 0 1px #a21a1f;
}
.article-share-box-link.google:before {
  content: "\f0d5";
}
.article-share-box-link.google:hover {
  background: #dd4b39;
  text-shadow: 0 1px #be3221;
}
#comments {
  background: #fff;
  -webkit-box-shadow: 1px 2px 3px #ddd;
  box-shadow: 1px 2px 3px #ddd;
  padding: 20px;
  border: 1px solid #ddd;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin: 50px 0;
}
#comments a {
  color: #258fb8;
}
.archives-wrap {
  margin: 50px 0;
}
.archives {
  *zoom: 1;
}
.archives:before,
.archives:after {
  content: "";
  display: table;
}
.archives:after {
  clear: both;
}
.archive-year {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #999;
  display: block;
  margin-bottom: 1em;
  margin-left: 5px;
  line-height: 1em;
  text-shadow: 0 1px #fff;
  font-weight: bold;
}
.archives {
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .archives {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}
@media screen and (min-width: 768px) {
  .archives {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}
.archive-article {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  overflow: hidden;
  break-inside: avoid-column;
}
.archive-article-inner {
  background: #fff;
  -webkit-box-shadow: 1px 2px 3px #ddd;
  box-shadow: 1px 2px 3px #ddd;
  border: 1px solid #ddd;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 15px;
}
.archive-article-title {
  text-decoration: none;
  font-weight: bold;
  color: #555;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  -ms-transition: color 0.2s;
  transition: color 0.2s;
  line-height: 1.6em;
}
.archive-article-title:hover {
  color: #258fb8;
}
.archive-article-footer {
  margin-top: 1em;
}
.archive-article-date {
  color: #999;
  text-decoration: none;
  font-size: 0.85em;
  line-height: 1em;
  margin-bottom: 0.5em;
  display: block;
}
#page-nav {
  *zoom: 1;
  margin: 50px auto;
  background: #fff;
  -webkit-box-shadow: 1px 2px 3px #ddd;
  box-shadow: 1px 2px 3px #ddd;
  border: 1px solid #ddd;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  color: #999;
  overflow: hidden;
}
#page-nav:before,
#page-nav:after {
  content: "";
  display: table;
}
#page-nav:after {
  clear: both;
}
#page-nav a,
#page-nav span {
  padding: 10px 20px;
}
#page-nav a {
  color: #999;
  text-decoration: none;
}
#page-nav a:hover {
  background: #999;
  color: #fff;
}
#page-nav .prev {
  float: left;
}
#page-nav .next {
  float: right;
}
#page-nav .page-number {
  display: inline-block;
}
@media screen and (max-width: 479px) {
  #page-nav .page-number {
    display: none;
  }
}
#page-nav .current {
  color: #555;
  font-weight: bold;
}
#page-nav .space {
  color: #ddd;
}
#footer {
  background: #262a30;
  padding: 50px 0;
  border-top: 1px solid #ddd;
  color: #999;
}
#footer-copyright {
  text-align: center;
}
pre,
code {
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
}
code {
  background: #eee;
  text-shadow: 0 1px #fff;
  padding: 0 0.3em;
}
pre code {
  background: none;
  text-shadow: none;
  padding: 0;
}
pre,
.highlight {
  background: #2d2d2d;
  margin: 0 -20px;
  padding: 15px 20px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  overflow: auto;
  color: #ccc;
  text-shadow: 0 1px #000;
  line-height: 22.400000000000002px;
}
.highlight pre {
  border: none;
  margin: 0;
  padding: 0;
}
.highlight table {
  margin: 0;
}
.highlight .gutter pre {
  color: #666;
  text-align: right;
  padding-right: 20px;
  font-size: 0.85em;
}
pre .comment,
pre .title {
  color: #999;
}
pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: #f2777a;
}
pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant {
  color: #f99157;
}
pre .class,
pre .ruby .class .title,
pre .css .rules .attribute {
  color: #9c9;
}
pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata {
  color: #9c9;
}
pre .css .hexcolor {
  color: #6cc;
}
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: #69c;
}
pre .keyword,
pre .javascript .function {
  color: #c9c;
}
